block content
 #content
  #clicker
    h3#numberOfClicks Total : 
    progress#health(value='1', max='1' width="200px")
    br
    img#trollface(src= "images/troll.png" width="200px")
    br
    h3#serverClicks Grand Total :
    h3#trollLevel Level : 