extends layout

block scripts
  script(type='text/javascript' src='/javascripts/main.js')

block content
  #header
    h1 #{title}
  #main
  #userdiv
    h2 users:
    ol#userlist
  #contentdiv
   #loginform
     h1 TrollFaceClicker
     h3 Register
     br
     form(action='')
       input.formControl#name(autocomplete='off')
       br
       br
       button.buttonClass Login
