doctype html
html
  head
    title= title
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/socket.io/socket.io.js')

    block scripts
  body
    block content
