body, html {
  margin-left:10%; margin-right:10%;
}

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ECEDF2;
  color: #0A4081;
}

a {
  color: #00B7FF;
}

#header {
    background-color: #9AB4CB;
    border: 1px dotted #587834;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    min-height: 20px;
    min-width: 20px;
}

#main {
    width:100%;
}

#userdiv {
    float:right;width:20%; height:100%;
    background-color: #396A92;
    border-radius: 5px;
    padding : 5px;
    margin : 5px;
}

#contentdiv {
    float:none;
    width:100%; height:100%;
    margin:20px;
}

#loginform {
  text-align: center;
  width: 400px;
  padding: 40px;
  margin: 40px;
  background: #eee;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  background-color: azure;
}

.buttonClass {
  background: #396A92;
  dispaly: inline;
  width: 50%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin : 5px;
  padding : 5px;
}

.formControl {
  width: 60%;
  height: 40px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.formControl:focus, .formControl:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

progress {
    background-color: #780000;
    border: 0;
    height: 18px;
    border-radius: 9px;
    width: 200px;
}

#userlist { 
    list-style-type: none; 
    margin: 0; 
    padding: 1px; 
}

#userlist li { 
    padding: 5px 10px; 
    border-radius: 3px; 
}

#userlist li:nth-child(odd) {
   background: #7CB9E8; 
}

#userlist li:nth-child(even) { 
    background: #C9FFE5; 
}
